@import "tailwindcss";
 
@theme inline {
  --animate-move: move 5s linear infinite;
 
  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.scrolling-container {
  margin: 20px auto;
  
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;

}

.scrolling-content {
  height: 60px;
  margin: 0 auto;
  display: flex;
  animation: scroll 5s alternate-reverse infinite;
  gap: 30px;
}
